.name
{
    color: brown;
    margin-top: 10px;
}
.image{
    width: 250px;
    height: 250px;
    margin-left: auto;
   box-shadow: 2px;
    margin-right: 10px;
}
.cards{
    background-color: rgb(207, 234, 247);
    border: none;
    border-radius: 40px;
}
.singlecard{
    border-radius: 50px;;
}
.occopation{
    color: rgb(51, 148, 187);
}
.aim{
    text-align: center;
}