.container{
    background-color: rosybrown;
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-gap: 20px;
    margin: 10px;
    padding: 10px;
}

.box{
    width: 200px;
    height: 200px;
    background-color: rgb(134, 189, 189);
    border: 3px solid;
    padding: 10px;
    border-radius: 20px;
}